
* {
    color: black;
}

header {
    border-bottom: #77402b solid 1px;
}

header a {
    color: #77402BFF;
}

header a:hover {
    color: #f1f6ff;
    transition: 0.5s;
}

.create-cafe-form {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}

#timeTable {
    display: flex;
    gap: 20px;
}
#timeTable li {
    background: #f1f6ff;
    border: black solid 1px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;

}

.time-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

input, select {
    border-radius: 15px;
}

#wifi, #music {
    display: flex;
    flex-direction: row;
}

#submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 30px;
    font-size: 17px;
    transition: background-color 0.3s ease, color 0.1s ease;
}