/* =========== Global Design =========== */
* {
    list-style-type: none;
    color: white;
    font-family: 'Rubik', sans-serif;
}

/* ============ HEADER ============ */
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    border-bottom: white solid 1px;

}
/* ============== Nav bar =========== */
    ul {
        display: flex;
    }
    .logo h1 {
        margin-left: 140px;
        font-size: 40px;
        font-weight: 700;
    }

/* ======== NAV BAR NAVIGATION BUTTONS =======*/

.logo h1 {
    margin-left: 120px;
    font-size: 40px;
    font-weight: 700;
}

.logo {
    cursor: pointer;
}

span {
    color: #99582a
}

li {
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
    padding: 30px 30px;
    border-radius: 5px;
    transition: 0.5s;
}

li:hover {
    transform: scale(110%);
    background-color: #99582a;
    border: white solid 2px;
    transition: 0.5s;
}

a {
    text-decoration: none;
    text-align: center;
    font-weight: 700;

}

.nav .hamburger-menu {
    position: absolute;
    display: none;
    top: 25px;
    right: 25px;
    width: 45px;
    cursor: pointer;
}


/* =========== NAV BAR RESPONSIVE ============ */
@media screen and (max-width: 1100px) {
    .nav li {
        margin-right: 20px
    }
}

@media screen and (max-width: 1024px) {
    .nav .hamburger-menu{
        display: block;
    }

    .nav {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(119, 64, 43, 0.4);
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
     }

    .open {
        margin-right: 0;
    }
    .nav li:hover {
        transform: none;
        background-color: transparent;
        border: none;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ========== menu ========== */


/* ======== video background ============= */
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
    video {
        width: 100%;
        height: auto;
    }
}


/* ========== MAIN CONTENT ================= */

/*.day-cafe {*/
/*    !* From https://css.glass *!*/
/*    background: rgba(119, 64, 43, 0.78);*/
/*    border-radius: 16px;*/
/*    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
/*    backdrop-filter: blur(0px);*/
/*    -webkit-backdrop-filter: blur(0px);*/
/*    border: 1px solid rgba(119, 64, 43, 1);*/
/*    width: 650px;*/
/*    height: 350px;*/
/*    margin-bottom: 150px;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.day-cafe-img {*/
/*    width: 325px;*/
/*    height: 350px;*/
/*    border-radius: 16px;*/
/*}*/

/*.day-cafe-info {*/
/*    padding: 25px;*/
/*    line-height: 30px;*/
/*}*/


/*@media screen and (max-width: 1024px) {*/
/*    .nav li {*/
/*        display: none;*/
/*    }*/
/*    label {*/
/*        display: flex;*/
/*    }*/
/*    main {*/
/*        flex-direction: column;*/
/*    }*/
/*    .day-cafe {*/
/*        width: 550px;*/
/*        height: 300px;*/
/*        margin-bottom: 50px;*/
/*    }*/
/*    .day-cafe-img {*/
/*        width: 275px;*/
/*        height: 300px;*/
/*    }*/
/*    .day-cafe-info {*/
/*        padding: 10px;*/
/*        line-height: 20px;*/
/*    }*/


/*}*/


/*@media screen and (max-width: 768px) {*/
/*    section {*/
/*        flex-direction: column;*/
/*    }*/
/*    .day-cafe {*/
/*        width: 250px;*/
/*        height: 500px;*/
/*        margin-bottom: 50px;*/
/*    }*/
/*    .day-cafe-img {*/
/*        width: 250px;*/
/*        height: 300px;*/
/*    }*/
/*    .day-cafe-info {*/
/*        padding: 10px;*/
/*        line-height: 20px;*/
/*    }*/

/*}*/

/* =========== CONTENT ============ */

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.content {
    text-align: center;
}

.content h1 {
    font-size: 70px;
    font-weight: 800;
    color: #f1f6ff;
}

.content h1:hover {
    color: saddlebrown;
    transition: 0.5s;

}

.content button {
    width: 200px;
    padding: 10px;
    margin: 20px 5px;
    text-align: center;
    border-radius: 20px;
    color: saddlebrown;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover {
    background: saddlebrown;
    color: white;
    transition: 0.8s;
    transform: scale(130%);
}



/* =========== FOOTER ============ */
footer {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    height: 100px;
    margin: 0;
    padding: 0;
}