/* =========== Global Design =========== */
* {
    list-style-type: none;
    color: white;
    font-family: 'Rubik', sans-serif;
}

/* ============ HEADER ============ */
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    border-bottom: white solid 1px;

}
/* ============== Nav bar =========== */
nav ul {
    display: flex;
}
.logo h1 {
    margin-left: 140px;
    font-size: 40px;
    font-weight: 700;
}

/* ======== NAV BAR NAVIGATION BUTTONS =======*/

.logo h1 {
    margin-left: 120px;
    font-size: 40px;
    font-weight: 700;
}

.logo {
    cursor: pointer;
}

.logo span {
    color: #99582a
}

nav ul li {
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
    padding: 15px;
    border-radius: 5px;
    transition: 0.5s;
}

nav ul li:hover {
    transform: scale(105%);
    background-color: #99582a;
    border: white solid 2px;
    transition: 0.5s;
}

.link {
    text-decoration: none;
    text-align: center;
    font-weight: 700;

}

.nav .hamburger-menu {
    position: absolute;
    display: none;
    top: 25px;
    right: 25px;
    width: 45px;
    cursor: pointer;
}


/* =========== NAV BAR RESPONSIVE ============ */
@media screen and (max-width: 1100px) {
    .nav li {
        margin-right: 20px
    }
}

@media screen and (max-width: 1024px) {
    .nav .hamburger-menu{
        display: block;
    }

    .nav {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: rgba(119, 64, 43, 0.4);
        backdrop-filter: blur(10px);
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        margin-right: -100%;
    }

    .open {
        margin-right: 0;
    }
    .nav li:hover {
        transform: none;
        background-color: transparent;
        border: none;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*HIDDEN STUFF*/
.hidden {
    display: none;
}