/*OVERRIDE NAVFOOTER DESIGN*/
* {
    color: black;
}


header{
    border-bottom: #77402b solid 1px;
}

nav ul li:hover > a {
    color: white;
    transition: 0.5s;
}
/**/

.my-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #77402b;
    margin-right: 50px;
}

img {
    width: 80px;
    height: 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: #77402b solid 1px;
    width: 700px;
    height: 100px;
}

.profile-info label {
    font-weight: bold;
    margin: 10px 10px;
    color: #77402b;
}

.profile-info p {
    margin: 0;
    color: #77402b;
}

.favorite-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list-of-cafes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 20px;
    border: #77402b solid 1px;
}

/*CAFE CARD DESIGN*/

/*CONTAINER FOR CAFE CARD*/
.list-of-cafes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/*CAFE CARD*/
.cafe-content {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    margin: 0;
    padding: 0;
}

.cafe-content img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.cafe-attributes {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 85%;
    bottom: 50%;
    gap:15px;
    text-align: center;
}

.fav-button {
    background-color: transparent;
    cursor: pointer;
    transition: color 0.5s;
}

.fav-button .fa-heart:hover {
    color: #cc181f;
    transition: 0.3s;
}

.attribute {
    color: white;
    font-size: 24px;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}


.card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
}
.card-details > * {
    margin: 0;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 10px
}
.card-rating > * {
    margin: 0;
}
.fa-star {
    color: white;
    background-color: #c37659;
    padding: 2px;
    border-radius: 3px;
}